

@{
    ViewBag.Title ="Bio Data";
    Layout = "~/Views/Shared/ArefinLayout.cshtml";
}
<h1> Home page</h1>

<div style="float:right" class="topbuttonsDiv">
    @*<div>*@

    <button> @Html.ActionLink("Add Employee", "AddEmployee", "Home", null, new { @class = "btn btn-primary" })</button>
   

</div>

<div class="clearfix"></div>

    



